body {
    margin: 500;
    background: aquamarine;
    overflow: hidden;
}

.content_wrapper {
    width: 80%;
    margin: 4%, 10%, 5%, 10%;
} 


.text_wrapper {
    text-align: center;
    width: 100%;
    position: relative;
    margin-top: -40%;
}

.text_wrapper p {
    background-color: #cfc;
    padding: 10px;
    border: 5px solid blue;
}

.text_wrapper h2 {
    font-family: "Chalkduster", fantasy;   
    font-size: 62px;
    font-style: italic;
}

