body {
    margin: 500;
    background: aquamarine;
}

.text_wrapper p {
    background-color: #cfc;
    padding: 10px;
    border: 5px solid blue;
    position:absolute;
}

h2 {
    font-family: "Chalkduster", fantasy;   
    font-size: 62pt;
    font-style: italic;
}

img {
    position:center;
    width: 1024px;
    height:800px;
}